<% @page_title = "Collection not found - #{application_name}" %>

<div id="content" class="col-md-9 col-sm-8">

  <div itemscope itemtype="http://schema.org/CollectionPage" class="row">
    <div class="col-sm-10 pull-right">
      <header><h1>Collection not found</h1>
        <p class='collection_description'>No collection was found with this ID.
          Try another search, or <%= link_to('contact us', contact_us_form_path) %> if you think this is an error.</p>
      </header>
    </div>
  </div>
</div>
