# Ignore precompiled assets
public/assets

# Ignore Vagrant files
/.vagrant

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore provisioning files
ansible.cfg
fedora-data
hosts
ingest
install
marmotta
solr
tomcat

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/jetty
.rvmrc

# Passwords etc
config/*.yml

tags
env
