# Ignore Vagrant files
/.vagrant

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/jetty
.rvmrc

config/secrets.yml
config/smtp.yml
config/ezid.yml
config/blacklight.yml
config/database.yml
config/fedora.yml
config/solr.yml
config/redis.yml
config/resque-pool.yml
config/ldap.yml

tags
