<a id="adminMenu" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Admin
  <span class="caret"></span>
</a>

<ul class="dropdown-menu" aria-labelledby="adminMenu">
  <li>
    <%= link_to 'Local Authorities', local_authorities_path %>
  </li>
  <li>
    <%= link_to 'Create a new record', hydra_editor.new_record_path %>
  </li>
</ul>
