<a id="adminMenu" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Admin
  <span class="caret"></span>
</a>

<ul class="dropdown-menu" aria-labelledby="adminMenu">
  <% if can? :read, :local_authorities %>
    <li><%= link_to 'Local Authorities', main_app.local_authorities_path %></li>
    <li><%= link_to 'Create a new record', hydra_editor.new_record_path %></li>
  <% end %>
  <% if can? :discover, Hydra::AccessControls::Embargo %>
    <%# The embargo page is very slow, so turn off turbolinks until it's optimized %>
    <li><%= link_to 'Manage Embargos', main_app.embargoes_path, data: { no_turbolink: true } %></li>
  <% end %>
</ul>
