<div id="footer">
  <div id="footer_left">
    <p>
      <%= link_to 'About ADRL', about_path %>
      &nbsp; &middot; &nbsp;
      <%= link_to 'Contact Us', '#' %>
    </p>

    <div class="copyright">
      Copyright &copy; <%= Date.today.year || '2014' %>
      &nbsp;The Regents of the University of California, All Rights Reserved.
    </div>
  </div>

  <div id="footer_right">
    <div class="logo-link">
      <a href="http://www.library.ucsb.edu"><img alt="ADRL logo" src="/assets/library-logo.png"></a>
    </div>

    <div class="logo-link">
      <a href="http://www.ucsb.edu"><img alt="UCSB logo" src="/assets/UCSB-footer-logo.png"></a>
    </div>
  </div>

</div>
