<div id="about_main_body">

  <h2> About the Alexandria Digital Research Library </h2>

  <div id="about_body">
    <p>The Alexandria Digital Research Library (ADRL) is <a href ="http://www.library.ucsb.edu">UC Santa Barbara Library's</a> home for collections of digital research materials. This comprehensive digital library is intended to increase access to millions of hidden digital research assets in the UCSB Library's possession and, ultimately, serve as a single federated dashboard or front end to discovering all of the Library's resources.</p>
    <p>The first phase of ADRL launched in April 2014, making theses and dissertations created by UCSB graduate students since 2011 available to the UCSB community. In phase two, a representative subset of several thousand objects in the UCSB Library's existing digital collections will be added. The UCSB Library is working to identify additional research materials for digitization and delivery via ADRL.</p>
    <p>ADRL builds on the expertise that UCSB developed in the 1990s with the <a href ="http://legacy.alexandria.ucsb.edu">Alexandria Digital Library (ADL)</a>, an online repository for geospatial information. The new ADRL will feature diverse collections, disciplines, and information types &mdash; including images, text, streamed media, and numeric and spatial data.</p>
    <p>Materials in ADRL are subject to copyright and other access restrictions dictated by individual authors. Therefore, a UCSB NetID and password may be required to view some materials in ADRL, such as full-text electronic theses and dissertations. As the collections in this long-term project expand over time in size and scope, we will update this page with new details.</p>
    <p>Updated: June 24, 2014</p>
  </div>
</div>
