development:
  host:             ezid.cdlib.org
  port:             443
  user:             apitest
  password:         ez_id_password
  default_shoulder: ark:/99999/fk4
test:
  host:             ezid.cdlib.org
  port:             443
  user:             apitest
  password:         ez_id_password
  default_shoulder: ark:/99999/fk4

