---
- name: write ADRL settings to application.yml
  become: yes
  lineinfile:
      backup: yes
      dest: "{{ config_path }}/application.yml"
      state: present
      insertafter: ^default
      line: "{{ item }}"
  with_items:
    - "  download_root: {{ etd_download_root }}"
    - "  internal_local_vocab_root: http://<%= Rails.application.config.host_name %>"
    - "  marmotta_host: {{ marmotta_server }}:8080"
    - "  minter_state: {{ minter_state_location }}"
    - "  pegasus_sru_endpoint: 'http://pegasus.library.ucsb.edu:5661'"
    - "  derivatives_dir: {{ derivatives_directory }}"
    - "  uploads_dir: {{ uploads_directory }}"
    - "  localhost_port: 8484"

- name: write ADRL test settings to application.yml
  become: yes
  lineinfile:
      backup: yes
      dest: "{{ config_path }}/application.yml"
      state: present
      insertafter: ^test
      line: "{{ item }}"
  with_items:
    - "  marmotta_host: localhost:8180"

- name: override the default resque-pool.yml
  # this prevents 2 processes from creating file containers at the same time
  # see issue #626
  become: yes
  template:
      src: resque-pool.yml.j2
      dest: "{{ config_path }}/resque-pool.yml"
      owner: "{{ deploy_user }}"
      group: "{{ deploy_group }}"
      backup: no
