  <table class="table table-bordered" id="downloads">
    <tbody>
      <tr>
        <td class="access-row denied" colspan="2">Access: <%= t(".#{document.admin_policy_id}") %></td>
      </tr>
    </tbody>
  </table>
