  <table class="table table-bordered" id="downloads">
    <tbody>
      <tr>
        <td class="access-row denied" colspan="2">Access: <%= policy_title(document) %></td>
      </tr>
    </tbody>
  </table>
