<%= render 'show_default', document: document %>

<% if document.key?('original_download_url_ssm') %>
  <table class="table table-bordered" id="downloads">
    <thead>
      <tr>
        <th>File (Download)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% document.fetch('original_download_url_ssm').each do |path| %>
      <tr>
        <td class="access_row" colspan="2">Access: UC Santa Barbara Only</td>
      </tr>
      <tr>
        <td class="col_1"><span id="thumbnail_image"><%= image_tag "pdf_32x.png" %></span><%= link_to 'pdf', path %><span id="file_size"> (???) </span></td>
        <td class="col_2">Full-text thesis or dissertation</td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
