
<div class="col-md-4"  style="text-align: center">
  Search for local authority records.

  <p><strong>or</strong></p>

  <%= link_to hydra_editor.new_record_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-plus"></span> New Authority
  <% end %>
</div>
