#!/bin/bash
export CONF_PATH=''
export EMAIL=''
export FEDORA_PASS=''
export H_PG_PASS=''
export IDENTITY=''
export MARMOTTA_HOME=''
export M_PG_PASS=''
export PG_PASS=''
export PORT=''
export PROJECT_BASE=''
export REMOTE_GROUP=''
export REMOTE_USER=''
export SECRET=''
export SERVER=''
export SOLR_HOME=''
export SUDO_FLAG=''
export TOMCAT=''
