/*
 *= require_self

 *
 * Used by blacklight_range_limit
 *= require  'blacklight_range_limit'
 *
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'blacklight_gallery/default';
@import 'hydra-editor/multi_value_fields';

@mixin hide {
  position: absolute;
  left: -999em;
  /* http://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
  top: -999px;
}

@mixin inline($separator, $sep) {
  &, & > li {
    /* http://www.alistapart.com/articles/taminglists/ */
    display: inline;
    margin: 0;
    padding-left: 0;
  }
  & > li + li {
    // old IE doesn't recognize ::before, so this keeps items at least a little separate
    padding-left: $sep/2;
    &::before {
      font-style: normal;
      content: $separator;
      padding-right: $sep/2;
    }
  }
}

// These are the numbers used by Bootstrap
$breakpoint1: 1200px;
$breakpoint2: 992px;
$breakpoint3: 768px;
$breakpoint4: 480px;

$welcome_blue: #004E6E;
$primary_link_color: #ffcb05;
$default_link_color: #fff;

$top_margin: 20px;
$inner_width: 70%;
$footer_left_margin: 1.5%;

$logo_image: 'ADRL_Logo_363x84.png';
$bg_image: 'ADRL_BG_1280x160.png';

// -------------------
// Bootstrap overrides
// -------------------
.navbar-form {
  padding: 0;
  text-align: center;
}

.navbar-form .input-group > .form-control {
  width: 50em;
}

@media screen and (max-width: $breakpoint1) {
  .navbar-form .input-group > .form-control {
    width: 30em;
  }
}
@media screen and (max-width: $breakpoint3) {
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
}

// Prevent list item numbers from disappearing past the left edge of their containers
@media screen and (max-width: $breakpoint2) {
  .container-fluid {
    padding-left: 40px;
  }
}

.navbar {
  border-radius: 0;
}
.navbar-nav,
.nav {
  & > li > a {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.dl-horizontal dt {
  width: initial;
  text-overflow: inherit;
  white-space: inherit;
}

// -------
// General
// -------

body {
  font-size: 12pt;
}

h1 {
  font-size: 171.5%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 128.5%;
}

h4,
h5,
h6 {
  font-size: 114.3%;
}

h6 {
  font-style: italic;
}

.invisible {
  @include hide;
}

// --------
// Homepage
// --------

// <header class='splash'>
.splash {
  background: transparent image_url('ADRL_Large_BG_1209x450.png') repeat;
  color: white;

  padding: 1em;

  a, a:hover {
    color: white;
    text-decoration: none;
  }
}

.catalog-nav {
  float: left;
  clear: left;

  @include inline("• ", 4px);
  li a {
    color: #9d9d9d;
  }
}
.dropdown-menu {
  li a {
    color: #000;
  }
}

.login-link {
  float: left;
  clear: left;

  a {
    color: $primary_link_color;
  }
}
@media screen and (min-width: $breakpoint3) {
  ul.catalog-nav {
    float: right;
    clear: none;
    padding-right: 1em;
  }
  .login-link {
    float: right;
    clear: none;
    padding-top: 0;
  }
}


.large-logo {
  clear: both;
  text-align: center;

  img {
    width: 100%;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    margin-left: -1%;
  }
}
@media screen and (min-width: $breakpoint3) {
  .large-logo img {
    width: 70%; // TODO: scale the image so we don't deliver something unnecessarily large
  }
}

#main-container {
  overflow: hidden;
}

#main_header h2 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em;

  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $welcome_blue;
  line-height: 1.2;
}

.welcome_inner {
  width: 95%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
  font-weight: normal;
}

@media screen and (min-width: $breakpoint3) {
  .welcome_inner,
  #main_header h2 {
    width: $inner_width;
  }
  #left_column {
    width: 48%;
    float: left;
  }

  #right_column {
    width: 48%;
    float: right;
  }
}

#left_column,
#right_column {
  text-align: left;

  h4 {
    color: $welcome_blue;
    font: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }

  p {
    text-align: left;
    color: black;
  }

  a {
    color: $welcome_blue;
    text-decoration: none;
  }
}

// -----------------------------
//   The search bar
// -----------------------------

.for-search-field {
  background-color: transparent;
  border: none;
  padding: 0;
}

// FIXME: less specificity
#search_field {
  display: block;
  height: 34px;

  border: 1px solid gray;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
}

@media screen and (min-width: $breakpoint3) {
  #search_field {
    margin-right: 1em;
  }
}

// FIXME: less specificity
#browse-by {
  text-align: center;
	font: 1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  a {
    text-decoration: underline;
    transition: all 100ms ease-in-out 0s;
  }
  a:hover {
    color: $primary_link_color;
  }
}

// ------
// Footer
// ------
footer {
  margin-top: 1em;
  padding: 1em;
  overflow: hidden;
  min-height: 8em;

  font: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  background: transparent image_url($bg_image) repeat;

  ul {
    @include inline("• ", 4px);
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }
}
.meta-adrl {
  padding-bottom: 1em;
}
.copyright {
  font-size: 82.5%;
}
.ucsb-small {
  float: left;
  clear: right;
  padding: .5em 1em 0 0;
}

@media screen and (min-width: $breakpoint3) {
  footer {
    position: relative;
  }
  .meta-adrl {
    float: left;
    max-width: 50%;
  }
  .meta-ucsb {
    min-width: 20em;
    position: absolute;
    right: 0;
  }
}

.document-thumbnail img {
  max-height: 200px;
}

select.search_field.form-control {
	width: 19%;
}

table#downloads {
  &.table-bordered {
    > thead > tr > th, > tbody > tr > td {
      border-left: 0;
      border-right: 0;
    }
  }

  thead {
    background-color: #EEE;
  }

  .access-row {
    color: #FFF;
  }
  .access-row.denied {
    background-color: #9E280E;
  }

  .access-row.allowed {
    background-color: #41A317;
  }
}

#contact-us-page {
  width: 80%;
  margin-left: 10%;

  .form-actions {
    margin-top: 1em;
  }

  label { font-weight: normal; }

  form {
    margin: 1.5em 0;

    .row {
      margin-bottom: 1em;
    }
  }
}

// -----------------------------
//   About Page
// -----------------------------

#about_main_body {
  padding-bottom: 2em;

  h2 {
    font: 'Helvetica Neue', Helvetica,Arial,sans-serif;
  }
}

// FIXME: less specificity
#about_body {
  max-width: 600px;

  p, a {
    font: 'Helvetica Neue', Helvetica,Arial,sans-serif;
  }

  a { color: $welcome_blue; }
}

// ----------
// Blacklight
// ----------

#search-navbar .input-group-addon.for-search-field {
  background-color: inherit;
}

.panel-body {
  padding: 5px 10px 20px 10px;
  li + li {
    margin-top: 1em;
  }
}

nav.navbar {
  background: transparent image_url($bg_image) repeat;
  padding: 1em;
  color: white;
}

.navbar-logo {
  float: left;

  span {
    @include hide;
  }
}
@media screen and (max-width: $breakpoint2) {
  .navbar-logo {
    clear: right;
    padding-bottom: 0.5em;
  }
}
@media screen and (max-width: $breakpoint4) {
  .navbar-logo img {
    width: 100%;
  }
}

// FIXME: less specificity
.input-group {
  .form-control {
    &.tt-hint, &.tt-input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  .tt-hint {
    background: white;
    &.loading {
      background: url("/assets/ajax-loader.gif") no-repeat right center;
    }
  }
}

.controlled_vocabulary,
.controlled_vocabulary_select,
.relator {
  @extend .multi_value;
}

.multi_value_readonly {
  @extend .multi_value;
  .listing > li {
    list-style-type: none;
  }
}

select, input {
  &.form-control {
    max-width: 40em;
  }
}

.debug {
	border: 1px dashed red;
}

// FIXME: less specificity
li.time-span.input-group {
  margin-top: 2em;
}

label.remove_time_span {
  margin-left: 1em;
}

// FIXME: less specificity
.date-editor {
  .form-group div ul.listing li {
    list-style-type: none;
  }
}

// FIXME: less specificity
.contributor-editor {
  .new {
    .role{
      @extend .col-md-4;
    }
    .vocabulary {
      @extend .col-md-3;
    }
    .text {
      @extend .col-md-5;
    }
  }
  .existing {
    .role {
      @extend .col-md-3;
      .predicate {
        height: 34px;
        padding: 6px 12px;
        font-weight: bold;
        display: inline-block;
      }
    }
    .text {
      @extend .col-md-9;
    }
  }
}

.blacklight-collections-show {
  h1 {
    margin-top: $top_margin;
  }

  .collection-search-form {
    float: right;
    margin-top: $top_margin + 5px;
  }

}

.collection-icon {
  font-size: 9vw;
  color: $primary_link_color;
  padding: .125em 0;
}

.collection-representative {
  max-height: 150px;
  margin: 2em 0;
}


// --------
// Carousel
// --------

// FIXME: use standard colors

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

@media (max-width: $breakpoint4) {
    .jcarousel-control-prev,
    .jcarousel-control-next {
        margin-top: -10px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        font: 16px/18px Arial, sans-serif;
    }
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .25;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;

    margin: 0;
    margin-left: -22px;
}

@media (max-width: $breakpoint3) {
    .jcarousel-pagination {
        bottom: -35px;
    }
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;

    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead + input + input + .field-controls > button {
  margin-top: -5px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
