/*
 *= require_self

 *
 * Used by blacklight_range_limit
 *= require  'blacklight_range_limit'
 *
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'blacklight_gallery/default';
@import 'hydra-editor/multi_value_fields';

$welcome_blue: #004E6E;
$primary_link_color: #ffcb05;
$default_link_color: #fff;

.input-group {
  .form-control {
    &.tt-hint, &.tt-input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  .tt-hint {
    background: white;
    &.loading {
      background: url("/assets/ajax-loader.gif") no-repeat right center;
    }
  }
}

.controlled_vocabulary {
  @extend .multi_value;
}

.controlled_vocabulary_select {
  @extend .multi_value;
}

.relator {
  @extend .multi_value;
}

.multi_value_readonly {
  @extend .multi_value;
  .listing > li {
    list-style-type: none;
  }
}

select, input {
  &.form-control {
    max-width: 40em;
  }
}

.debug {
	border: 1px dashed red;
}

li.time-span.input-group {
  margin-top: 2em;
}

label.remove_time_span {
  margin-left: 1em;
}

.date-editor {
  .form-group div ul.listing li {
    list-style-type: none;
  }
}

.contributor-editor {
  .new {
    .role{
      @extend .col-md-4;
    }
    .vocabulary {
      @extend .col-md-3;
    }
    .text {
      @extend .col-md-5;
    }
  }
  .existing {
    .role {
      @extend .col-md-3;
      .predicate {
        height: 34px;
        padding: 6px 12px;
        font-weight: bold;
        display: inline-block;
      }
    }
    .text {
      @extend .col-md-9;
    }
  }
}

$top_margin: 20px;

.blacklight-collections-show {

  h1 {
    margin-top: $top_margin;
  }

  .collection-search-form {
    float: right;
    margin-top: $top_margin + 5px;
  }

}

.collection-icon {
  font-size: 9vw;
  color: #fab801;
  padding: .125em 0;
}

.collection-representative {
  max-height: 150px;
  margin: 2em 0;
}

//-----------------------------------
// For "show more"/"show less" links
//-----------------------------------

.more-less-toggle {
  float: right;
}

.show-less {
  display: none;
}

// Fields marked with .reveal-js will be hidden at first,
// then revealed by javascript.  These fields should stay
// hidden if the user has disabled javascript in the browser.
.reveal-js {
  display: none;
}

.link-style {
  color: $link-color;

  &:hover {
    color: darken($link-color, 15%);
    text-decoration: underline;
    cursor: pointer;
  }
}

//-----------------------------------
$logo_image: 'ADRL_Logo_363x84.png';
$header_background_image: 'ADRL_BG_1280x160.png';

#header-navbar {
  background: transparent image_url($header_background_image) repeat;
  padding-top: 10px;
  color: white;

  .navbar-brand {
    background: transparent image_url($logo_image) no-repeat top left;
    background-size: 80%;
    width: 318px;
    height: 75px;
    margin-left: 2px;
  }

  .navbar-right {
    margin-top: 1.5em;
  }
}

//---------------------------
//  Login Link
//---------------------------

#header-navbar .navbar-right .login-link a,
.page-header-splash .login-link a {
  color: $primary_link_color;
}

#header-navbar .navbar-right .login-link p,
.page-header-splash .login-link p {
  margin: 0;
}

#header-navbar .navbar-right .login-link p {
  padding-top: 15px;
  padding-left: 10px;
}

//---------------------------
$footer_background: 'ADRL_BG_1280x160.png';
$footer_left_margin: 1.5%;


#footer {
  margin-top: 1em;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  padding: 1.5em 0 1em 0;
  background: transparent image_url($footer_background) repeat;

  .copyright {
    margin-left: $footer_left_margin;
    font-size: 11px;
  }

  p {
    margin-left: $footer_left_margin;
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }
}

#footer_left {
  width: 75%;
}

#footer_right {
  width: 20%;
  margin-left: 78%;
  margin-top: -4em;
  margin-bottom: 0.1em;

  .logo-link {
    width: 90%;
    margin-top: 0.5em;
    img { width: 100%; }
  }

  div + div {
    padding-top: 1em;
  }
}
.ucsb-small {
  float: left;
  clear: right;
  padding-right: 1em;
}
.document-thumbnail img {
  max-height: 200px;
}

select.search_field.form-control {
	width: 19%;
}

table#downloads {
  &.table-bordered {
    > thead > tr > th, > tbody > tr > td {
      border-left: 0;
      border-right: 0;
    }
  }

  thead {
    background-color: #EEE;
  }

  .access-row {
    color: #FFF;
  }
  .access-row.denied {
    background-color: #9E280E;
  }

  .access-row.allowed {
    background-color: #41A317;
  }
}
// Place all the styles related to the contact_us controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact-us-page {
  width: 80%;
  margin-left: 10%;

  .form-actions {
    margin-top: 1em;
  }

  label { font-weight: normal; }

  form {
    margin: 1.5em 0;

    .row {
      margin-bottom: 1em;
    }
  }

  .invisible {
    display: none;
  }
}
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$inner_width: 70%;

.page-splash-container {
  margin: 0px 10px 10px 10px;

  #main_header h2 {
    width: $inner_width;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $welcome_blue;
    line-height: 1.2;
  }

  .welcome_inner {
    width: $inner_width;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    text-align: center;
    font-weight: normal;
  }
}

@media screen and (min-width: 850px) {
  .page-splash-container #left_column {
    width: 48%;
    float: left;
  }

  .page-splash-container #right_column {
    width: 48%;
    float: right;
  }
}

.page-splash-container #left_column,
.page-splash-container #right_column {
  text-align: left;

  h4 {
    color: $welcome_blue;
    font: bold 16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }

  p {
    font: 16px;
    text-align: left;
    color: black;
  }

  a {
    color: #004e6e;
    text-decoration: none;
    font: 16px;
    line-height: 16px;
  }
}

// -----------------------------
//   About Page
// -----------------------------

#about_main_body {
  padding-bottom: 2em;

  h2 {
    font: bold 28px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  }
}

#about_body {
  max-width: 600px;

  p, a {
    font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  }

  a { color: $welcome_blue; }
}
// -----------------------------
//  Header for the Welcome page
// -----------------------------

$breakpoint1: 1400px;
$breakpoint2: 850px;

.page-header-splash {
  background: transparent image_url('ADRL_Large_BG_1209x450.png') repeat;
  padding-bottom: 2.5em;
  color: white;


  .top-links {
    padding-top: 2.5em;

    a { padding: 15px; }
    p { margin: 15px 0 0 0 }
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }

  .nav li a:hover, .nav li a:focus {
    background-color: transparent;
    color: $primary_link_color;
  }

  .page-header-container {
    width: 80%;
    margin-left: 10%;
  }

  .large-logo {
    text-align: center;

    img {
      width: 70%; // TODO: scale the image so we don't deliver something unnecessarily large
      margin-bottom: 2.5em;
      margin-top: 1.5em;
      margin-left: -1%;
    }
  }

  // -----------------------------
  //   The search bar
  // -----------------------------

  #splash-search-bar {
    // Override bootstrap.
    .navbar-form {
      padding: 0;
      text-align: center;
    }

    .for-search-field {
      background-color: transparent;
      border: none;
      padding: 0;

      #search_field {
        display: block;
        height: 34px;
        margin-right: 1em;

        border: 1px solid gray;
        border-radius: 4px 0 0 4px;
        font-size: 14px;
      }
    }
  }
  // Override Bootstrap
  .navbar-form .input-group > .form-control {
    width: 50em;
  }
  @media screen and (max-width: $breakpoint1) {
    .navbar-form .input-group > .form-control {
      width: 30em;
    }
  }
  @media screen and (max-width: $breakpoint2) {
    .navbar-form .input-group > .form-control {
      width: 100%;
    }
  }

  // -----------------------------

  #browse-by {
    text-align: center;
	  font: 1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    a {
      text-decoration: underline;
      transition: all 100ms ease-in-out 0s;
    }
    a:hover {
      color: $primary_link_color;
    }
  }

}
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

@media (max-width: 480px) {
    .jcarousel-control-prev,
    .jcarousel-control-next {
        margin-top: -10px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        font: 16px/18px Arial, sans-serif;
    }
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .25;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;

    margin: 0;
    margin-left: -22px;
}

@media (max-width: 620px) {
    .jcarousel-pagination {
        bottom: -35px;
    }
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;

    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead + input + input + .field-controls > button {
  margin-top: -5px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
