.document-thumbnail img {
  max-height: 200px;
}

select.search_field.form-control {
	width: 19%;
}

table#downloads {
  &.table-bordered {
    > thead > tr > th, > tbody > tr > td {
      border-left: 0;
      border-right: 0;
    }
  }

  thead {
    background-color: #EEE;
  }

  .access-row {
    color: #FFF;
  }
  .access-row.denied {
    background-color: #9E280E;
  }

  .access-row.allowed {
    background-color: #41A317;
  }
}
