
$top_margin: 20px;

.blacklight-collections-show {

  h1 {
    margin-top: $top_margin;
  }

  .collection-search-form {
    float: right;
    margin-top: $top_margin + 5px;
  }

}

.collection-icon {
  font-size: 9vw;
  color: #fab801;
  padding: .125em 0;
}

.collection-representative {
  max-height: 150px;
  margin: 2em 0;
}

//-----------------------------------
// For "show more"/"show less" links
//-----------------------------------

.more-less-toggle {
  float: right;
}

.show-less {
  display: none;
}

// Fields marked with .reveal-js will be hidden at first,
// then revealed by javascript.  These fields should stay
// hidden if the user has disabled javascript in the browser.
.reveal-js {
  display: none;
}

.link-style {
  color: $link-color;

  &:hover {
    color: darken($link-color, 15%);
    text-decoration: underline;
    cursor: pointer;
  }
}

//-----------------------------------
