// Place all the styles related to the contact_us controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact-us-page {
  width: 80%;
  margin-left: 10%;

  .form-actions {
    margin-top: 1em;
  }

  label { font-weight: normal; }

  form {
    margin: 1.5em 0; 

    .row {
      margin-bottom: 1em;
    }
  }

  .invisible {
    display: none;
  }
}
