.typeahead, .tt-query, .tt-hint {
  /* font-size: 14px !important; */
}

.input-group {
  .form-control {
    &.tt-hint, &.tt-input {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
  }
  .tt-hint {
    background: white !important;
    &.loading {
      background: url("/assets/ajax-loader.gif") no-repeat right center !important;
    }
  }
}

.controlled_vocabulary {
  @extend .multi_value;
}

.controlled_vocabulary_select {
  @extend .multi_value;
}

.relator {
  @extend .multi_value;
}

.multi_value_readonly {
  @extend .multi_value;
  .listing > li {
    list-style-type: none;
  }
}

select, input {
  &.form-control {
    max-width: 40em;
  }
}

.debug {
	border: 1px dashed red;
}

li.time-span.input-group {
  margin-top: 2em;
}

label.remove_time_span {
  margin-left: 1em;
}

.date-editor {
  .form-group div ul.listing li {
    list-style-type: none;
  }
}

.contributor-editor {
  .new {
    .role{
      @extend .col-md-4;
    }
    .vocabulary {
      @extend .col-md-3;
    }
    .text {
      @extend .col-md-5;
    }
  }
  .existing {
    .role {
      @extend .col-md-3;
      .predicate {
        height: 34px;
        padding: 6px 12px;
        font-weight: bold;
        display: inline-block;
      }
    }
    .text {
      @extend .col-md-9;
    }
  }
}

