.controlled_vocabulary {
  @extend .multi_value;
}

.multi_value_readonly {
  @extend .multi_value;
  .listing > li {
    list-style-type: none;
  }
}

input.string {
  max-width: 40em;
}

.debug {
	border: 1px dashed red;
}

li.time-span.input-group {
  margin-top: 2em;
}

label.remove_time_span {
  margin-left: 1em;
}

.dateEditor .form-group div ul.listing li {
  list-style-type: none;
}
