// -----------------------------
//  Header for the Welcome page
// -----------------------------

.page-header-splash {
  background: transparent image_url('ADRL_Large_BG_1209x450.png') repeat;
  padding-bottom: 2.5em;
  color: white;


  .top-links {
    padding-top: 2.5em;

    a { padding: 15px; }
    p { margin: 15px 0 0 0 }
  }

  .bottom-links a {
	  font: 1.8em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }

  .nav li a:hover, .nav li a:focus {
    background-color: transparent;
    color: $login_link_color;
  }

  .imageset {
    text-align: center;
  }

  .page-header-container {
    width: 80%;
    margin-left: 10%;
  }

  .large-logo img {
    width: 70%;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    margin-left: -1%;
  }
}

// -----------------------------
//   The search bar
// -----------------------------

.page-header-splash .splash-search-bar {
  margin-bottom: 3em;
  width: 80%;
  margin-left: 10%;

  .form-inline .input-group .input-group-btn {
    width: 10%;
  }
}

// -----------------------------
