// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$inner_width: 70%;

.page-splash-container {
  margin: 0px 10px 10px 10px;

  #main_header h2 {
    width: $inner_width;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $welcome_blue;
    line-height: 1.2;
  }

  .welcome_inner {
    width: $inner_width;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    text-align: center;
    font-weight: normal;
  }
}

@media screen and (min-width: 850px) {
  .page-splash-container #left_column {
    width: 48%;
    float: left;
  }

  .page-splash-container #right_column {
    width: 48%;
    float: right;
  }
}

.page-splash-container #left_column,
.page-splash-container #right_column {
  text-align: left;

  h4 {
    color: $welcome_blue;
    font: bold 16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }

  p {
    font: 16px sans-serif !important;
    text-align: left;
    color: black;
  }

  a {
    color: #004e6e;
    text-decoration: none;
    font: 16px sans-serif !important;
    line-height: 16px !important;
  }
}

// -----------------------------
//   About Page
// -----------------------------

#about_main_body {
  padding-bottom: 2em;

  h2 {
    font: bold 28px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  }
}

#about_body {
  max-width: 600px;

  p, a {
    font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  }

  a { color: $welcome_blue; }
}
