// -----------------------------
//  Header for the Welcome page
// -----------------------------

$breakpoint1: 1400px;
$breakpoint2: 850px;

.page-header-splash {
  background: transparent image_url('ADRL_Large_BG_1209x450.png') repeat;
  padding-bottom: 2.5em;
  color: white;


  .top-links {
    padding-top: 2.5em;

    a { padding: 15px; }
    p { margin: 15px 0 0 0 }
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }

  .nav li a:hover, .nav li a:focus {
    background-color: transparent;
    color: $primary_link_color;
  }

  .page-header-container {
    width: 80%;
    margin-left: 10%;
  }

  .large-logo {
    text-align: center;

    img {
      width: 70%; // TODO: scale the image so we don't deliver something unnecessarily large
      margin-bottom: 2.5em;
      margin-top: 1.5em;
      margin-left: -1%;
    }
  }

  // -----------------------------
  //   The search bar
  // -----------------------------

  #splash-search-bar {
    // Override bootstrap.
    .navbar-form {
      padding: 0;
      text-align: center;
    }

    .for-search-field {
      background-color: transparent;
      border: none;
      padding: 0;

      #search_field {
        display: block;
        height: 34px;
        margin-right: 1em;

        border: 1px solid gray;
        border-radius: 4px 0 0 4px;
        font-size: 14px;
      }
    }
  }
  // Override Bootstrap
  .navbar-form .input-group > .form-control {
    width: 50em;
  }
  @media screen and (max-width: $breakpoint1) {
    .navbar-form .input-group > .form-control {
      width: 30em;
    }
  }
  @media screen and (max-width: $breakpoint2) {
    .navbar-form .input-group > .form-control {
      width: 100%;
    }
  }

  // -----------------------------

  #browse-by {
    text-align: center;
	  font: 1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    a {
      text-decoration: underline;
      transition: all 100ms ease-in-out 0s;
    }
    a:hover {
      color: $primary_link_color;
    }
  }

}
